/* .course-info-tab-container {
  border: 1px solid red;
} */

.course-info-buttons-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 24px;

  padding: 25px 0px;
  

  button {
    width: 148px;
    height: 57px;
    padding: 18px 21px;

    border: 1px solid #E2E8F0;
    border-radius: 8px;
    background-color: transparent;
    font-size: 14px;
    ;
    color: #0F172A;
    cursor: pointer;
  }

  button.active {
    border: none;
    background-color: #EFF6FF;
  }
}

.course-info-tab-content {
  padding: 24px 0px;
  border-top: 1px solid #E2E8F0;
  border-bottom: 1px solid #E2E8F0;
}