/* Header */
.header-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 20px 60px;
  height: 65px;
  gap: 20px;

  border-bottom: 1px solid #e2e8f0;
  text-decoration: none;
  font-family: "Inter";
}

/* Containers */
.logo-container,
.profile-container,
.searchbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 40px;
}

/* Logo */
.logo-container {
  width: 83px;
}

.logo-container h1 {
  font-size: 16px;
  font-weight: medium;
  color: #334155;
}

/* Searchbar */
.searchbar-container {
  justify-content: flex-start;
  gap: 10px;

  width: 622px;
  padding: 10px;

  border-radius: 8px;
  box-shadow: inset 0 0 0 1px #334155;
}

.searchbar-container .search-icon {
  width: 20px;
  height: 20px;
}

.searchbar-container input {
  border: none;
  outline: none;
  font-size: 14px;
}

.searchbar-container input::placeholder {
  color: #334155;
}

/* Profile */
.profile-container {
  width: 206px;
  margin-left: auto;
  gap: 24px;
  white-space: nowrap;
}

.favorite,
.cart,
.notification {
  width: 24px;
  height: 24px;
}

/* Buttons */
.categories-link,
.teach-link,
.favorite-link,
.cart-link,
.notification-link,
.profile-button {
  border: none;
  background-color: transparent;
  font-size: 14px;
  font-weight: 500;
  color: #334155;
  cursor: pointer;
  text-decoration: none;
}

.profile-button {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 40px;
  height: 40px;

  border-radius: 100%;
  background-color: #334155;
  font-size: 16px;
  font-weight: medium;
  color: white;
}

.login-button,
.signup-button {
  padding: 10px;
  height: 40px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  text-decoration: none;
}

.login-button {
  width: 61px;
  border: 1px solid #64748B;
  background-color: transparent;
  color: #64748B;
}

.signup-button {
  width: 73px;
  border: none;
  background-color: #64748B;
  color: white;
}
