.course-info-description-container,
.course-description,
.course-certification {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 24px;
}

.course-description,
.course-certification {
  gap: 4px;

  h3 {
    font-size: 20px;
    font-weight: 600;
    color: #0F172A;
  }

  p {
    font-size: 16px;
    color: #334155;
  }
}